@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@500&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    list-style: none;
    text-decoration: none;
}






@media only screen and (max-width: 800px)
{


.flagman 
{
    position: fixed;
    width: 100%;
    height: 800px;
    display: flex;
    justify-content: center;
    background: #fff;
}


.flagman .fla 
{
    width: 100%;
    height: 630px;
    background: #fff;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}



.flagman h1
{
    position: absolute;
    font-size: 1.3em;
    margin-top: 1rem;
    left: 4%;
}



.flagman .plus a img 
{
    position: absolute;
    width: 24px;
    margin-top: 0.9rem;
    left: 90%;
}



.flagman .fun #fun
{
    position: absolute;
    font-size: 1.2em;
    margin-top: 6.2rem;
    color: #666;
    left: 4%;
}



.flagman .toch
{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5.6rem;
    left: 89.3%;
}



.flagman .toch a 
{
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: #fff;
    font-size: 1em;
    color: #666;
    transition: 0.2s;
}



.flagman .toch a:hover 
{
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: rgba(0,0,0,0.08);
    transition: 0.2s;
}


.flagman .modal {
 display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.5); /* Black w/ opacity */
}



.flagman .modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 30px;
  border: 1px solid #888;
  width: 80%;
  border-radius: 7px;
}


.flagman .close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}


.flagman .close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}




.flagman .container1
{
    margin-top: 9rem;
}





.flagman path {
  cursor: pointer;
}

.flagman form {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto
}

.flagman input {
  border: 5px dotted;
  width: 50%;
}

.flagman #pieChart {
  /* border: red 1px dotted; */
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto
}

.flagman .text-container {
  /* border: 1px dotted; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}





.flagman #segmentText {
  width: 100%;
  padding: 20px;
  text-align: centre;
  margin-top: 8rem;
}




.flagman #segmentTitle {
  margin-left: 20px;
  margin-top: -4rem;
}






.flagman a .filtere
{
    position: absolute;
    width: 100%;
    height: 50px;
    left: 0%;
    display: flex;
    align-items: center;
    background: #fff;
    margin-top: 13rem;
}



.flagman a .filtere:hover 
{
    background: rgba(0,0,0,0.1);
    transition: 0.2s;
}



.flagman a .filtere .fil1
{
    position: absolute;
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background: rgba(0,0,0,0.07);
    margin-top: 0rem;
    margin-left: 17px;
}



.flagman a .filtere .fil1 img 
{
    position: absolute;
    width: 16px;
}





.flagman a .filtere p
{
    position: absolute;
    font-size: 1.1em;
    color: #444;
    margin: 0;
    margin-left: 70px;
}







.flagman a .filtere2
{
    position: absolute;
    width: 100%;
    height: 50px;
    left: 0%;
    display: flex;
    align-items: center;
    background: #fff;
    margin-top: 18rem;
}



.flagman a .filtere2:hover 
{
    background: rgba(0,0,0,0.1);
    transition: 0.2s;
}



.flagman a .filtere2 .fil2
{
    position: absolute;
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background: orange;
    margin-top: 0rem;
    margin-left: 17px;
}



.flagman a .filtere2 .fil2 img 
{
    position: absolute;
    width: 17px;
}





.flagman a .filtere2 p
{
    position: absolute;
    font-size: 1.1em;
    color: #444;
    margin: 0;
    margin-left: 70px;
}









.flagman h5
{
    position: absolute;
    font-size: 1em;
    color: #000;
    margin-top: 70rem;
    animation: changeColor3 linear 6s alternate 1;
}






@keyframes changeColor3 {

0%
{
    color: #000;
}

50%
{
    color: rgba(0,0,0,0.05);
}

100%
{
    color: #000;
}

}








/********Repository********/


.repository 
{
    position: fixed;
    width: 100%;
    height: 800px;
    display: flex;
    justify-content: center;
    background: rgba(0,0,0,0.05);
}


.repository .head
{
    position: absolute;
    width: 100%;
    height: 100px;
    background: #fff;
}


.repository .head h1
{
    position: absolute;
    font-size: 1.8em;
    color: #444;
    margin-top: -0.4rem;
    padding: 15px;
}




.repository .head p
{
    position: absolute;
    font-size: 1em;
    color: #666;
    margin-top: 2.9rem;
    padding: 15px;
}





.repository .toch2
{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    left: 89.8%;
}



.repository .toch2 a 
{
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: #fff;
    font-size: 1em;
    color: #666;
    transition: 0.2s;
}



.repository .toch2 a:hover 
{
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: rgba(0,0,0,0.08);
    transition: 0.2s;
}


.repository .modal2 {
 display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.5); /* Black w/ opacity */
}



.repository .modal-content2 {
  background-color: #fefefe;
  margin: auto;
  padding: 30px;
  border: 1px solid #888;
  width: 80%;
  border-radius: 18px;
}


.repository .close2 {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}


.repository .close2:hover,
.close2:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}




/******Codes*******/


.codes 
{
    position: fixed;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    background: rgba(0,0,0,0.05);
}



.codes .head2
{
    position: absolute;
    width: 100%;
    height: 240px;
    display: flex;
    justify-content: center;
    background: #fff;
}




.codes .head2 h1
{
    position: absolute;
    font-size: 1.7em;
    color: #444;
    margin-top: 1.3rem;
    left: 5%;
}



.codes a .maine1
{
    position: absolute;
    width: 100%;
    height: 50px;
    left: 0%;
    display: flex;
    align-items: center;
    background: #fff;
    margin-top: 6rem;
}



.codes a .maine1:hover 
{
    background: rgba(0,0,0,0.1);
    transition: 0.2s;
}



.codes a .maine1 .boxi1
{
    position: absolute;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background: #fff;
    border: 0.8px solid #000;
    margin-top: 0rem;
    margin-left: 17px;
}



.codes a .maine1 .boxi1 img 
{
    position: absolute;
    width: 16px;
}





.codes a .maine1 p
{
    position: absolute;
    font-size: 1.1em;
    color: #444;
    margin: 0;
    margin-left: 70px;
}





.codes a .maine2
{
    position: absolute;
    width: 100%;
    height: 50px;
    left: 0%;
    display: flex;
    align-items: center;
    background: #fff;
    margin-top: 11rem;
}



.codes a .maine2:hover 
{
    background: rgba(0,0,0,0.1);
    transition: 0.2s;
}



.codes a .maine2 .boxi2
{
    position: absolute;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background: #fff;
    border: 0.8px solid #000;
    margin-top: 0rem;
    margin-left: 17px;
}



.codes a .maine2 .boxi2 img 
{
    position: absolute;
    width: 16px;
}





.codes a .maine2 p
{
    position: absolute;
    font-size: 1.1em;
    color: #444;
    margin: 0;
    margin-left: 70px;
}








.codes a .maine3
{
    position: absolute;
    width: 100%;
    height: 50px;
    left: 0%;
    display: flex;
    align-items: center;
    background: #fff;
    margin-top: 16rem;
}



.codes a .maine3:hover 
{
    background: rgba(0,0,0,0.1);
    transition: 0.2s;
}



.codes a .maine3 .boxi3
{
    position: absolute;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background: #fff;
    border: 0.8px solid #000;
    margin-top: 0rem;
    margin-left: 17px;
}



.codes a .maine3 .boxi3 img 
{
    position: absolute;
    width: 16px;
}





.codes a .maine3 p
{
    position: absolute;
    font-size: 1.1em;
    color: #444;
    margin: 0;
    margin-left: 70px;
}









/*******Loader*********/


.loader 
{
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0%;
    top: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #2b2932;
}



.loader h1
{
    position: absolute;
    font-size: 1.6em;
    color: #fff;
    margin-top: 30rem;
}



.loader .loadi {
  width: 48px;
  height: 48px;
  border: 4px solid #fff;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader .loadi::after {
  content: '';  
  position: absolute;
  box-sizing: border-box;
  left: 20px;
  top: 31px;
  border: 10px solid transparent;
  border-right-color: #fff;
  transform: rotate(-40deg);
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 







/********Notification*******/



.notification
{
    width: 100%;
    height: 100vh;
    background: #dbe8ea;
}



.notification  h1
{
    position: absolute;
    font-size: 1.6em;
    color: #555;
    margin-top: 1rem;
}




   .notification .members-count,
    .members-list,
    .messages {
      border: none;
      background: #fff;
      padding: 15px;
      margin-bottom: 15px;
    }
    
    
    .notification .members-count
{
    border-bottom-left-radius: 23px;
    border-bottom-right-radius: 23px;
}



.notification .members-list
{
    border-radius: 15px;
}



.notification .messages
{
    border-radius: 15px;
}


   .notification .messages {
      flex-shrink: 1;
      overflow: auto;
    }

   .notification .message {
      padding: 5px 0;
    }
   .notification .message .member {
      display: inline-block;
    }

   .notification .member {
      padding-right: 10px;
      position: relative;
    }

   .notification .message-form {
      display: flex;
      flex-shrink: 0;
    }
   .notification .message-form__input {
      flex-grow: 1;
      border: none;
      border-radius: 40px;
      background: #fff;
      padding: 0px 15px;
      font-size: 1em;
    }
   .notification .message-form__button {
       width: 80px;
       height: 55px;
       background: #777;
       color: #fff;
      margin: 10px;
      font-size: 1em;
      border: none;
      border-radius: 28px;
    }
    
    
    
    .notification .downe
{
    display: flex;
    justify-content: center;
    margin-top: 28rem;
}
    
    
    .notification .downe h5
{
    position: absolute;
    font-size: 0.9em;
    color: #555;
font-family: 'M PLUS Code Latin', sans-serif;
}







/**********Masssages*********/



.massages
{
    width: 100%;
    height: 800px;
    background: #dbe8ea;
    display: flex;
    justify-content: center;
}




.massages .hid 
{
    position: absolute;
    width: 100%;
    height: 90px;
    background: #fff;
    margin-top: -0.5rem;
}




.massages .hid h1
{
    position: absolute;
    font-size: 1.7em;
    color: #222;
    padding: 15px;
    margin-top: -0.4rem;
}





.massages .hid p
{
    position: absolute;
    font-size: 1.1em;
    color: #888;
    padding: 15px;
    margin-top: 2.4rem;
}




.massages .centr 
{
    position: absolute;
    width: 100%;
    height: 245px;
    background: #fff;
    margin-top: 12rem;
}




.massages a .centre1
{
    position: absolute;
    width: 100%;
    height: 55px;
    display: flex;
    align-items: center;
    background: #fff;
    margin-top: 1rem;
}



.massages a .centre1:hover 
{
    background: rgba(0,0,0,0.1);
    transition: 0.2s;
}



.massages a .centre1 .box1
{
    position: absolute;
    width: 37px;
    height: 37px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background: #fff;
    border: 0.9px solid #000;
    margin-top: 0rem;
    margin-left: 17px;
}



.massages a .centre1 .box1 img 
{
    position: absolute;
    width: 19px;
}





.massages a .centre1 p
{
    position: absolute;
    font-size: 1em;
    color: #444;
    margin: 0;
    margin-left: 75px;
}








.massages a .centre2
{
    position: absolute;
    width: 100%;
    height: 55px;
    display: flex;
    align-items: center;
    background: #fff;
    margin-top: 6.5rem;
}



.massages a .centre2:hover 
{
    background: rgba(0,0,0,0.1);
    transition: 0.2s;
}



.massages a .centre2 .box2
{
    position: absolute;
    width: 37px;
    height: 37px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background: #fff;
    border: 0.9px solid #000;
    margin-top: 0rem;
    margin-left: 17px;
}



.massages a .centre2 .box2 img 
{
    position: absolute;
    width: 19px;
}





.massages a .centre2 p
{
    position: absolute;
    font-size: 1em;
    color: #444;
    margin: 0;
    margin-left: 75px;
}









.massages a .centre3
{
    position: absolute;
    width: 100%;
    height: 55px;
    display: flex;
    align-items: center;
    background: #fff;
    margin-top: 12rem;
}



.massages a .centre3:hover 
{
    background: rgba(0,0,0,0.1);
    transition: 0.2s;
}



.massages a .centre3 .box3
{
    position: absolute;
    width: 37px;
    height: 37px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background: #fff;
    border: 0.9px solid #000;
    margin-top: 0rem;
    margin-left: 17px;
}



.massages a .centre3 .box3 img 
{
    position: absolute;
    width: 19px;
}





.massages a .centre3 p
{
    position: absolute;
    font-size: 1em;
    color: #444;
    margin: 0;
    margin-left: 75px;
}








.massages a .centre4
{
    position: absolute;
    width: 100%;
    height: 55px;
    display: flex;
    align-items: center;
    background: #fff;
    margin-top: 17.5rem;
}



.massages a .centre4:hover 
{
    background: rgba(0,0,0,0.1);
    transition: 0.2s;
}



.massages a .centre4 .box4
{
    position: absolute;
    width: 37px;
    height: 37px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background: #fff;
    border: 0.9px solid #000;
    margin-top: 0rem;
    margin-left: 17px;
}



.massages a .centre4 .box4 img 
{
    position: absolute;
    width: 19px;
}





.massages a .centre4 p
{
    position: absolute;
    font-size: 1em;
    color: #444;
    margin: 0;
    margin-left: 75px;
}











/*********Bookmark**********/


.bookmark 
{
    position: fixed;
    width: 100%;
    height: 770px;
    background: #dbe8ea;
    display: flex;
    justify-content: center;
}




.bookmark h1
{
    position: absolute;
    font-size: 1.8em;
    color: #444;
    margin-top: 2rem;
}







.bookmark .box1
{
    position: absolute;
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    background: #fff;
    border-top: 0.5px solid rgba(0,0,0,0.2);
    border-bottom: 0.5px solid rgba(0,0,0,0.2);
    margin-top: 7.5rem;
}




.bookmark .box1 h3
{
    position: absolute;
    font-size: 1.4em;
    margin-top: 0.8rem;
}




.bookmark .first a
{
    position: absolute;
    padding: 8px 13px;
    background: rgba(0,0,0,0.08);
    color: #000;
    border-radius: 5px;
    text-decoration: none;
    font-size: 0.9em;
    left: 5%;
    margin-top: 5rem;
}




.bookmark .second a
{
    position: absolute;
    padding: 8px 14px;
    background: rgba(0,0,0,0.08);
    color: #000;
    border-radius: 5px;
    text-decoration: none;
    font-size: 0.9em;
    left: 5%;
    margin-top: 9rem;
}




.bookmark .third a
{
    position: absolute;
    padding: 8px 13px;
    background: rgba(0,0,0,0.08);
    color: #000;
    border-radius: 5px;
    text-decoration: none;
    font-size: 0.9em;
    left: 5%;
    margin-top: 13rem;
}





.bookmark .forth a
{
    position: absolute;
    padding: 8px 13px;
    background: rgba(0,0,0,0.08);
    color: #000;
    border-radius: 5px;
    text-decoration: none;
    font-size: 0.9em;
    left: 5%;
    margin-top: 17rem;
}



.bookmark .fifth a
{
    position: absolute;
    padding: 8px 13px;
    background: rgba(0,0,0,0.08);
    color: #000;
    border-radius: 5px;
    text-decoration: none;
    font-size: 0.9em;
    left: 5%;
    margin-top: 21rem;
}



.bookmark .sixth a
{
    position: absolute;
    padding: 8px 13px;
    background: rgba(0,0,0,0.08);
    color: #000;
    border-radius: 5px;
    text-decoration: none;
    font-size: 0.9em;
    left: 5%;
    margin-top: 25rem;
}



.bookmark .seventh a
{
    position: absolute;
    padding: 8px 13px;
    background: rgba(0,0,0,0.08);
    color: #000;
    border-radius: 5px;
    text-decoration: none;
    font-size: 0.9em;
    left: 39.4%;
    margin-top: 5rem;
}



.bookmark .eight a
{
    position: absolute;
    padding: 8px 13px;
    background: rgba(0,0,0,0.08);
    color: #000;
    border-radius: 5px;
    text-decoration: none;
    font-size: 0.9em;
    left: 71.5%;
    margin-top: 5rem;
}


.bookmark .nine a
{
    position: absolute;
    padding: 8px 13px;
    background: rgba(0,0,0,0.08);
    color: #000;
    border-radius: 5px;
    text-decoration: none;
    font-size: 0.9em;
    left: 52%;
    margin-top: 9rem;
}



.bookmark .ten a
{
    position: absolute;
    padding: 8px 13px;
    background: rgba(0,0,0,0.08);
    color: #000;
    border-radius: 5px;
    text-decoration: none;
    font-size: 0.9em;
    left: 33.8%;
    margin-top: 13rem;
}



.bookmark .eleven a
{
    position: absolute;
    padding: 8px 12px;
    background: #000;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
    font-size: 0.8em;
    left: 78.5%;
    margin-top: 13rem;
}



.bookmark .twelve a
{
    position: absolute;
    padding: 8px 15px;
    background: rgba(0,0,0,0.08);
    color: #000;
    border-radius: 5px;
    text-decoration: none;
    font-size: 0.9em;
    left: 36.8%;
    margin-top: 17rem;
}



.bookmark .thirteen a
{
    position: absolute;
    padding: 8px 17px;
    background: rgba(0,0,0,0.08);
    color: #000;
    border-radius: 5px;
    text-decoration: none;
    font-size: 0.9em;
    left: 51.4%;
    margin-top: 21rem;
}




.bookmark .forteen a
{
    position: absolute;
    padding: 8px 10px;
    background: rgba(0,0,0,0.08);
    color: #000;
    border-radius: 5px;
    text-decoration: none;
    font-size: 0.8em;
    left: 38%;
    margin-top: 25rem;
}




.bookmark .fifteen a
{
    position: absolute;
    padding: 8px 13px;
    background: rgba(0,0,0,0.08);
    color: #000;
    border-radius: 5px;
    text-decoration: none;
    font-size: 0.8em;
    left: 80.2%;
    margin-top: 25rem;
}




.bookmark img 
{
    position: absolute;
    width: 75px;
    margin-top: 40rem;
}



.bookmark #str 
{
    position: absolute;
    font-size: 1em;
    color: #000;
    margin-top: 47rem;
    padding: 30px;
    font-family: 'M PLUS Code Latin', sans-serif;
}




.bookmark h4
{
    position: absolute;
    font-size: 6.5em;
    color: #444;
    margin-top: 63rem;
}



.bookmark h5
{
    position: absolute;
    font-size: 1em;
    color: #555;
    margin-top: 58rem;
    padding: 5px;
    border-left: 3px solid #555;
    left: 5%;
}








/*********Note*********/



.note 
{
    width: 100%;
    height: 800px;
    background: #fff;
    padding: 20px 20px;
}




.note #note-editor {
  padding-bottom: 12px;
  margin-bottom: 48px;
  border-bottom: 1px solid rgba(0,0,0,0.2);
  opacity: 1;
  transition: all 0.25s ease-out;
}

.note #note-editor.hide {
  opacity: 0;
}

.note label {
  display: block;
  width: 100%;
  margin-bottom: 15px;
}

.note input {
  font-size: 16px;
  display: block;
  width: 300px;  
  margin-bottom: 15px;
  padding: 8px 6px;
}

.note input.is-empty {
  border: 2px solid tomato;
}

.note textarea {
  font-size: 16px;
  width: 310px;
  display: block;
  margin-bottom: 15px;
  padding: 8px 6px;
}

.note textarea.is-empty {
  border: 1px solid tomato;
}

.note #button {
  position: relative;
}

.note #error {
  color: tomato;
  position: absolute;
  top: 12px;
  left: 150px;
  line-height: 16px;
}

.note select {
  display: block;
  margin-bottom: 15px;
  width: 175px;
  padding: 0;
  height: 24px;
}

.note .brt {
  position: relative;
  display: block;
  width: 100px;
  margin-top: 40px;
  padding: 12px 8px;
  border-radius: 5px;
  margin-bottom: 15px;
  outline: none;
  border:0;
  background: orange;
  color: white;
  font-size: 14px;
}

.note .brt:active {
  box-shadow: 0px 0px 1px rgba(0,0,0,0.1);
  top: 1px;
  left: 1px;
}

.note ul {
  padding-left: 0;
}

.note #notes-section {
  opacity: 1;
  visibility: visible;
  transition: all 0.25s ease-out;
}

.note #notes-section.hide {
  opacity: 0;
  visibility: hidden;
}

.note #notes li {
  position: relative;
  list-style-type: none;
  display: block;
  float: left;
  width: 350px;
  height: auto;
  padding: 8px 12px;
  border-radius: 5px;
  margin: 0 5px 12px;
  margin-top: 2rem;
}

.note #notes li.red {
  background: pink;
}

.note #notes li.green {
  background: palegreen;
}

.note #notes li.blue {
  background: lightskyblue;
}


.note .edit {
  position: absolute;
  height: 24px;
  left: 12px;
  line-height: 24px;
  cursor: pointer;
}

.note .deleti {
  float: right;
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
}


.note .note-title {
  font-size: 1.5em;
  font-weight: bold;
  display: block;
  width: 100%;

}

.note .note-message {
  display: block;
  width: 100%;
}






/*********Livecode*********/



.livecode 
{
    width: 100%;
    height: 100vh;
    background: #444;
    padding: 5px 5px;
}




.livecode textarea {
    width: 32%;
    float: top;
    min-height: 250px;
    padding: 13px;
    color: #fff;
    border: 0.9px solid rgba(255,255,255,0.5);
    overflow: scroll;
    margin: auto;
    display: inline-block;
    background: #2b2932;
    outline: none;
    font-family: Courier, sans-serif;
    font-size: 14px;
    border-radius: 17px;
  }

.livecode iframe {
    bottom: 0;
    position: relative;
    width: 100%;
    height: 45em;
    background: #fff;
    border-radius: 27px;
  }
  
  
  
  
  

/*********Readme**********/


.readme
{
    width: 100%;
    height: 800px;
    background: #dbe8ea;
    display: flex;
    justify-content: center;
}




.readme .headr 
{
    position: absolute;
    width: 100%;
    height: 90px;
    background: #fff;
}



.readme .headr h1
{
    position: absolute;
    font-size: 1.6em;
    color: #222;
    padding: 10px;
    margin-top: 0.3rem;
}





.readme .headr p
{
    position: absolute;
    font-size: 1.1em;
    color: #777;
    padding: 10px;
    margin-top: 3rem;
}




.readme .box 
{
    position: absolute;
    width: 310px;
    height: 430px;
    border-radius: 10px;
    background: #fff;
    margin-top: 16rem;
    display: flex;
    justify-content: center;
}




.readme .box h1
{
    position: absolute;
    font-size: 1.6em;
    color: #222;
    margin-top: 2rem;
}



.readme .box form 
{
    position: absolute;
    margin-top: 7.5rem;
}




.readme .box form .name
{
    position: absolute;
    font-size: 1.2em;
    color: #222;
}





.readme .box form input
{
    width: 250px;
    height: 35px;
    border-radius: 5px;
    font-size: 1em;
    margin-top: 0.5rem;
    border: 1px solid #888;
    padding: 7px;
}




.readme .box form .button
{
    
    display: flex;
    justify-content: center;
    margin-top: 3rem;
}




.readme .box form .button button
{
    position: absolute;
    width: 100px;
    height: 35px;
    font-size: 1.1em;
    background: orange;
    color: #fff;
    border: none;
    border-radius: 5px;
}







/**********Explore**********/


.explore 
{
    width: 100%;
    height: 800px;
    background: #dbe8ea;
}




.explore .exph 
{
    position: absolute;
    width: 100%;
    height: 90px;
    background: #fff;
}




.explore .exph h1
{
    position: absolute;
    font-size: 1.6em;
    color: #222;
    padding: 10px;
    margin-top: 0.3rem;
}





.explore .exph p
{
    position: absolute;
    font-size: 1.1em;
    color: #777;
    padding: 10px;
    margin-top: 3rem;
}




.explore .toch3
{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.8rem;
    left: 89.8%;
}



.explore .toch3 a 
{
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: #fff;
    font-size: 1em;
    color: #666;
    transition: 0.2s;
}



.explore .toch3 a:hover 
{
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: rgba(0,0,0,0.08);
    transition: 0.2s;
}


.explore .modal3 {
 display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.5); /* Black w/ opacity */
}



.explore .modal-content3 {
  background-color: #fefefe;
  margin: auto;
  padding: 30px;
  border: 1px solid #888;
  width: 80%;
  border-radius: 7px;
}


.explore .close3 {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}


.explore .close3:hover,
.close3:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}




.explore .elem1 
{
    position: absolute;
    width: 100%;
    height: 220px;
    background: #fff;
    margin-top: 12rem;
}






.explore a .eleme1
{
    position: absolute;
    width: 100%;
    height: 50px;
    left: 0%;
    display: flex;
    align-items: center;
    background: #fff;
    margin-top: 3rem;
}



.explore a .eleme1:hover 
{
    background: rgba(0,0,0,0.1);
    transition: 0.2s;
}



.explore a .eleme1 .ele1
{
    position: absolute;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background: #fff;
    border: 0.8px solid #000;
    margin-top: 0rem;
    margin-left: 17px;
}



.explore a .eleme1 .ele1 img 
{
    position: absolute;
    width: 16px;
}





.explore a .eleme1 p
{
    position: absolute;
    font-size: 1.1em;
    color: #444;
    margin: 0;
    margin-left: 70px;
}





.explore a .eleme2
{
    position: absolute;
    width: 100%;
    height: 50px;
    left: 0%;
    display: flex;
    align-items: center;
    background: #fff;
    margin-top: 8rem;
}



.explore a .eleme2:hover 
{
    background: rgba(0,0,0,0.1);
    transition: 0.2s;
}



.explore a .eleme2 .ele2
{
    position: absolute;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background: #fff;
    border: 0.8px solid #000;
    margin-top: 0rem;
    margin-left: 17px;
}



.explore a .eleme2 .ele2 img 
{
    position: absolute;
    width: 16px;
}





.explore a .eleme2 p
{
    position: absolute;
    font-size: 1.1em;
    color: #444;
    margin: 0;
    margin-left: 70px;
}








.explore a .eleme3
{
    position: absolute;
    width: 100%;
    height: 50px;
    left: 0%;
    display: flex;
    align-items: center;
    background: #fff;
    margin-top: 13rem;
}



.explore a .eleme3:hover 
{
    background: rgba(0,0,0,0.1);
    transition: 0.2s;
}



.explore a .eleme3 .ele3
{
    position: absolute;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background: #fff;
    border: 0.8px solid #000;
    margin-top: 0rem;
    margin-left: 17px;
}



.explore a .eleme3 .ele3 img 
{
    position: absolute;
    width: 16px;
}





.explore a .eleme3 p
{
    position: absolute;
    font-size: 1.1em;
    color: #444;
    margin: 0;
    margin-left: 70px;
}

















/*********License********/



.license 
{
    width: 100%;
    height: 800px;
    display: flex;
    justify-content: center;
    background: #dbe8ea;
}




.license .licens 
{
    position: absolute;
    width: 320px;
    height: 500px;
    display: flex;
    justify-content: center;
    background: #fff;
    margin-top: 6rem;
}




.license .licens h1 
{
    position: absolute;
    font-size: 1.8em;
    color: #222;
    margin-top: 2rem;
}





.license .licens h2
{
    position: absolute;
    font-size: 1.1em;
    color: #555;
    margin-top: 8.5rem;
}







.license .licens h3
{
    position: absolute;
    font-size: 1em;
    color: #555;
    margin-top: 11rem;
}




.license .licens p
{
    position: absolute;
    font-size: 0.9em;
    color: #555;
    margin-top: 15rem;
    padding: 20px;
}




.license .licens .circle
{
    position: absolute;
    width: 85px;
    height: 85px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-top: 37rem;
    background: #fff;
    border: 10px solid #222;
    margin-left: -140px;
}




.license .licens .circle h5
{
    position: absolute;
    font-size: 0.55em;
    color: #222;
}




.license .licens img 
{
    position: absolute;
    width: 55px;
    margin-top: 38rem;
    margin-left: 130px;
}







/*********Types**********/


.types 
{
    width: 100%;
    height: 800px;
    background: #dbe8ea;
    display: flex;
    justify-content: center;
}



.types .type
{
    position: absolute;
    width: 100%;
    height: 430px;
    background: #fff;
}




.types .type h1 
{
    position: absolute;
    font-size: 1.8em;
    color: #222;
    padding: 10px;
    margin-top: -0.2rem;
}






.types .type .box1
{
    position: absolute;
    width: 38px;
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: #ffb344;
    margin-top: 7.5rem;
    margin-left: 17px;
}



.types .type .box1 img 
{
    position: absolute;
    width: 25px;
}



.types .type .java a 
{
    position: absolute;
    font-size: 1.1em;
    color: #444;
    margin-left: 70px;
    margin-top: 8.3rem;
}







.types .type .box2
{
    position: absolute;
    width: 38px;
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: rgb(107,113,251);
background: linear-gradient(90deg, rgba(107,113,251,1) 10%, rgba(255,242,65,1) 100%);
    margin-top: 12.5rem;
    margin-left: 17px;
}



.types .type .box2 img 
{
    position: absolute;
    width: 25px;
}



.types .type .python a 
{
    position: absolute;
    font-size: 1.1em;
    color: #444;
    margin-left: 70px;
    margin-top: 13.3rem;
}








.types .type .box3
{
    position: absolute;
    width: 38px;
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: #999;
    margin-top: 17.5rem;
    margin-left: 17px;
}



.types .type .box3 img 
{
    position: absolute;
    width: 25px;
}



.types .type .api a 
{
    position: absolute;
    font-size: 1.1em;
    color: #444;
    margin-left: 70px;
    margin-top: 18.3rem;
}







.types .type .box4
{
    position: absolute;
    width: 38px;
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: #f87027;
    margin-top: 22.5rem;
    margin-left: 17px;
}



.types .type .box4 img 
{
    position: absolute;
    width: 25px;
}



.types .type .swift a 
{
    position: absolute;
    font-size: 1.1em;
    color: #444;
    margin-left: 70px;
    margin-top: 23.3rem;
}







.types .type .box5
{
    position: absolute;
    width: 38px;
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: #f00;
    margin-top: 27.5rem;
    margin-left: 17px;
}



.types .type .box5 img 
{
    position: absolute;
    width: 25px;
}



.types .type .ruby a 
{
    position: absolute;
    font-size: 1.1em;
    color: #444;
    margin-left: 70px;
    margin-top: 28.3rem;
}







.types .type .box6
{
    position: absolute;
    width: 38px;
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: #fff;
    border: 1px solid #444;
    margin-top: 32.5rem;
    margin-left: 17px;
}



.types .type .box6 img 
{
    position: absolute;
    width: 25px;
}



.types .type .php a 
{
    position: absolute;
    font-size: 1.1em;
    color: #444;
    margin-left: 70px;
    margin-top: 33.3rem;
}








.types .type .box7
{
    position: absolute;
    width: 38px;
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: #90f827;
    margin-top: 37.5rem;
    margin-left: 17px;
}



.types .type .box7 img 
{
    position: absolute;
    width: 25px;
}



.types .type .node a 
{
    position: absolute;
    font-size: 1.1em;
    color: #444;
    margin-left: 70px;
    margin-top: 38.3rem;
}






/********Phpe********/


.phpe
{
    width: 100%;
    height: 800px;
    background: rgba(0,0,0,0.05);
}


.phpe .row h1 
{
    position: absolute;
    font-size: 1.6em;
    padding: 10px;
    color: #222;
}



.phpe .row textarea 
{
    position: absolute;
    width: 370px;
    height: 220px;
    padding: 10px;
    border-radius: 6px;
    background: #222;
    color: rgba(255,255,255,0.8);
    margin-top: 4rem;
    margin-left: 10px;
}



.phpe .row button 
{
    width: 75px;
    height: 32px;
    background: orange;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1.1em;
    margin-top: 19rem;
    margin-left: 10px;
}







/*********Nodejs********/


.nodejs
{
    width: 100%;
    height: 750px;
    background: rgba(0,0,0,0.05);
    padding: 5px 5px;
}



.nodejs h1
{
    font-size: 1.5em;
    color: green;
}




.nodejs textarea {
    width: 100%;
    float: top;
    min-height: 250px;
    padding: 5px;
    overflow: scroll;
    margin: auto;
    display: inline-block;
    background: #222;
    outline: none;
    font-family: Courier, sans-serif;
    font-size: 1.02em;
    color: orange;
    border-radius: 5px;
    margin-top: 0.4rem;
  }

.nodejs iframe {
    bottom: 0;
    position: relative;
    width: 100%;
    height: 30em;
    border-radius: 5px;
  }






/**********Learning*********/


.learning
{
    width: 100%;
    height: 800px;
    background: #dbe8ea;
}



.learning .learn 
{
    position: absolute;
    width: 100%;
    height: 100px;
    background: #fff;
}


.learning .learn h1 
{
    position: absolute;
    font-size: 1.8em;
    color: #222;
    padding: 10px;
    margin-top: 0rem;
}




.learning .learn p
{
    position: absolute;
    font-size: 1.2em;
    color: #888;
    padding: 10px;
    margin-top: 3rem;
}




.learning .learn a img 
{
    position: absolute;
    width: 22px;
    left: 90%;
    margin-top: 1rem;
}



.learning .learn a img:hover 
{
    transform: rotate(360deg);
    transition: 0.6s;
}



.learning .main1
{
    position: absolute;
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: center;
    background: #fff;
    margin-top: 13rem;
}



.learning .main1 .py 
{
    position: absolute;
    width: 100%;
    height: 200px;
    padding: 10px 10px;
    background: #222;
}


.learning .main1 .py h3 
{
    font-size: 1em;
    color: #fff;
    font-family: 'Inconsolata', monospace;
}



.learning .main1 .py h3 spanA
{
    color: #b23c97;
    font-family: 'Inconsolata', monospace;
}




.learning .main1 .py h4
{
    position: absolute;
    font-size: 1em;
    color: orange;
    left: 93.5%;
    margin-top: 0.8rem;
}





.learning .main1 .py h2
{
    position: absolute;
    font-size: 1.3em;
    color: #555;
    margin-top: 2.8rem;
}






.learning .main2
{
    position: absolute;
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    background: #fff;
    border-top: 1px solid #999;
    border-bottom: 1px solid #999;
    margin-top: 39rem;
}



.learning .main2 .cpp
{
    position: absolute;
    width: 100%;
    height: 260px;
    padding: 10px 10px;
    background: #222;
}


.learning .main2 .cpp h3 
{
    font-size: 0.8em;
    color: #f2f2f2;
    font-family: 'Inconsolata', monospace;
}






.learning .main2 .cpp h4
{
    position: absolute;
    font-size: 1em;
    color: orange;
    left: 92%;
    margin-top: 0.8rem;
}





.learning .main2 .cpp h2
{
    position: absolute;
    font-size: 1.2em;
    color: #555;
    margin-top: 1rem;
}








/***********Organizationse**********/


.organizationse
{
    width: 100%;
    height: 800px;
    background: #dbe8ea;
}



.organizationse .organ 
{
    position: absolute;
    width: 100%;
    height: 80px;
    background: #fff;
}



.organizationse .organ h1 
{
    position: absolute;
    font-size: 1.6em;
    color: #222;
    padding: 10px;
    margin-top: -0.3rem;
}




.organizationse .organ p
{
    position: absolute;
    font-size: 1.2em;
    color: #777;
    padding: 10px;
    margin-top: 2.4rem;
}




.organizationse .org 
{
    position: absolute;
    width: 100%;
    height: 220px;
    background: #fff;
    margin-top: 12rem;
}




.organizationse a .organ1
{
    position: absolute;
    width: 100%;
    height: 50px;
    left: 0%;
    display: flex;
    align-items: center;
    background: #fff;
    margin-top: 3rem;
}



.organizationse a .organ1:hover 
{
    background: rgba(0,0,0,0.1);
    transition: 0.2s;
}



.organizationse a .organ1 .orga1
{
    position: absolute;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background: #fff;
    border: 0.8px solid #000;
    margin-top: 0rem;
    margin-left: 17px;
}



.organizationse a .organ1 .orga1 img
{
    position: absolute;
    width: 16px;
}





.organizationse a .organ1 p
{
    position: absolute;
    font-size: 1.1em;
    color: #444;
    margin: 0;
    margin-left: 70px;
}





.organizationse a .organ2
{
    position: absolute;
    width: 100%;
    height: 50px;
    left: 0%;
    display: flex;
    align-items: center;
    background: #fff;
    margin-top: 8rem;
}



.organizationse a .organ2:hover 
{
    background: rgba(0,0,0,0.1);
    transition: 0.2s;
}



.organizationse a .organ2 .orga2
{
    position: absolute;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background: #fff;
    border: 0.8px solid #000;
    margin-top: 0rem;
    margin-left: 17px;
}



.organizationse a .organ2 .orga2 img
{
    position: absolute;
    width: 16px;
}





.organizationse a .organ2 p
{
    position: absolute;
    font-size: 1.1em;
    color: #444;
    margin: 0;
    margin-left: 70px;
}












/*******Competitions*********/


.competitions
{
    position: fixed;
    width: 100%;
    height: 770px;
    background: #2b2932;
}



.competitions .compe 
{
    position: absolute;
    width: 100%;
    height: 100px;
    background: #fff;
}



.competitions .compe h1
{
    position: absolute;
    font-size: 1.8em;
    color: #222;
    padding: 10px;
    margin-top: -0.2rem;
}






.competitions .compe p
{
    position: absolute;
    font-size: 1.1em;
    color: #777;
    padding: 10px;
    margin-top: 3.5rem;
}





.competitions .competit
{
    position: absolute;
    width: 100%;
    height: 300px;
    background: #fff;
    margin-top: 15rem;
}






.competitions .competit p
{
    position: absolute;
    font-size: 1.3em;
    color: #555;
    padding: 17px;
}






.competitions a .compe1
{
    position: absolute;
    width: 100%;
    height: 55px;
    display: flex;
    align-items: center;
    background: #fff;
    margin-top: 6rem;
}



.competitions a .compe1:hover 
{
    background: rgba(0,0,0,0.1);
    transition: 0.2s;
}



.competitions a .compe1 .box1
{
    position: absolute;
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background: #fff;
    border: 0.9px solid #000;
    margin-top: 0rem;
    margin-left: 17px;
}



.competitions a .compe1 .box1 img 
{
    position: absolute;
    width: 18px;
}





.competitions a .compe1 p
{
    position: absolute;
    font-size: 1em;
    color: #444;
    margin: 0;
    margin-left: 60px;
}








.competitions a .compe2
{
    position: absolute;
    width: 100%;
    height: 55px;
    display: flex;
    align-items: center;
    background: #fff;
    margin-top: 11.5rem;
}



.competitions a .compe2:hover 
{
    background: rgba(0,0,0,0.1);
    transition: 0.2s;
}



.competitions a .compe2 .box2
{
    position: absolute;
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background: #fff;
    border: 0.9px solid #000;
    margin-top: 0rem;
    margin-left: 17px;
}



.competitions a .compe2 .box2 img 
{
    position: absolute;
    width: 18px;
}





.competitions a .compe2 p
{
    position: absolute;
    font-size: 1em;
    color: #444;
    margin: 0;
    margin-left: 60px;
}






.competitions a .compe3
{
    position: absolute;
    width: 100%;
    height: 55px;
    display: flex;
    align-items: center;
    background: #fff;
    margin-top: 17rem;
}



.competitions a .compe3:hover 
{
    background: rgba(0,0,0,0.1);
    transition: 0.2s;
}



.competitions a .compe3 .box3
{
    position: absolute;
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background: #fff;
    border: 0.9px solid #000;
    margin-top: 0rem;
    margin-left: 17px;
}



.competitions a .compe3 .box3 img 
{
    position: absolute;
    width: 18px;
}





.competitions a .compe3 p
{
    position: absolute;
    font-size: 1em;
    color: #444;
    margin: 0;
    margin-left: 60px;
}





/*********Timer********/


.timer 
{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #2b2932;
    display: flex;
    justify-content: center;
}




.timer h1
{
    position: absolute;
    left: 3%;
    color: #fff;
    font-size: 1.5em;
    margin-top: 2rem;
}




.timer #app
{
    margin-top: 10rem;
}







.timer .base-timer {
  position: relative;
  width: 200px;
  height: 200px;
}

.timer .base-timer__svg {
  transform: scaleX(-1);
}

.timer .base-timer__circle {
  fill: none;
  stroke: none;
}

.timer .base-timer__path-elapsed {
  stroke-width: 10px;
  stroke: grey;
}



.timer .base-timer__path-remaining {
  stroke-width: 10px;
  stroke-linecap: round;
  transform: rotate(90deg);
  transform-origin: center;
  transition: 1s linear all;
  fill-rule: nonzero;
  stroke: currentColor;
}




.timer .base-timer__path-remaining.green {
  color: #00ddff;
}



.timer .base-timer__path-remaining.orange {
  color: orange;
}

 

.timer .base-timer__path-remaining.red {
  color: red;
}

.timer .base-timer__label {
  position: absolute;
  width: 200px;
  height: 200px;
  top: 0;
  display: flex;
  color: #fff;
  align-items: center;
  justify-content: center;
  font-size: 48px;
}





.timer .box 
{
    position: absolute;
    width: 345px;
    height: 120px;
    background: #fff;
    border-radius: 25px;
    margin-top: 45rem;
}



.timer .box h2
{
    position: absolute;
    font-size: 1.1em;
    padding: 15px;
    color: orange;
    margin-top: -0.4rem;
}





.timer .box p
{
    position: absolute;
    font-size: 0.8em;
    padding: 15px;
    color: #888;
    margin-top: 2rem;
}






.timer h5
{
    position: absolute;
    font-size: 0.9em;
    color: rgba(255,255,255,0.4);
    margin-top: 69rem;
}





/********Pluse********/


.pluse
{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #fff;
}


.pluse h1 
{
    position: absolute;
    font-size: 1.6em;
    padding: 15px;
}




.pluse ul 
{
    position: absolute;
    padding: 20px;
    margin-top: 7rem;
}



.pluse ul li 
{
    margin-top: 1rem;
}



.pluse ul li a 
{
    font-size: 1.2em;
    color: #000;
}



.pluse ul li a:hover 
{
    color: #999;
    transition: 0.3s;
}





.pluse h5
{
    position: absolute;
    font-size: 0.9em;
    padding: 15px;
    margin-top: 66rem;
}




.pluse .h5
{
    display: flex;
    justify-content: center;
    margin-top: 71rem;
}





.pluse .h5 p
{
    font-size: 0.9em;
    color: #777;
}






/********Other*********/


.other 
{
    position: absolute;
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,0.05);
}





.other .othir 
{
    position: absolute;
    width: 100%;
    height: 370px;
    background: #fff;
}



.other .othir h1 
{
    position: absolute;
    font-size: 1.4em;
    color: #222;
    padding: 15px;
    margin-top: -0.5rem;
}




.other .othir p
{
    position: absolute;
    font-size: 0.9em;
    color: #999;
    padding: 15px;
    margin-top: 2.1rem;
}






.other .othir a .othir1
{
    position: absolute;
    width: 100%;
    height: 55px;
    display: flex;
    align-items: center;
    background: #fff;
    margin-top: 7rem;
}



.other .othir a .othir1:hover 
{
    background: rgba(0,0,0,0.1);
    transition: 0.2s;
}



.other .othir a .othir1 .box1
{
    position: absolute;
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background: rgba(0,0,0,0.06);
    margin-top: 0rem;
    margin-left: 17px;
}



.other .othir a .othir1 .box1 img 
{
    position: absolute;
    width: 17px;
}





.other .othir  a .othir1 p
{
    position: absolute;
    font-size: 1em;
    color: #444;
    margin: 0;
    margin-left: 55px;
}










.other .othir a .othir2
{
    position: absolute;
    width: 100%;
    height: 55px;
    display: flex;
    align-items: center;
    background: #fff;
    margin-top: 12.5rem;
}



.other .othir a .othir2:hover 
{
    background: rgba(0,0,0,0.1);
    transition: 0.2s;
}



.other .othir a .othir2 .box2
{
    position: absolute;
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background: rgba(0,0,0,0.06);
    margin-top: 0rem;
    margin-left: 17px;
}



.other .othir a .othir2 .box2 img 
{
    position: absolute;
    width: 17px;
}





.other .othir  a .othir2 p
{
    position: absolute;
    font-size: 1em;
    color: #444;
    margin: 0;
    margin-left: 55px;
}






.other .othir a .othir3
{
    position: absolute;
    width: 100%;
    height: 55px;
    display: flex;
    align-items: center;
    background: #fff;
    margin-top: 18rem;
}



.other .othir a .othir3:hover 
{
    background: rgba(0,0,0,0.1);
    transition: 0.2s;
}



.other .othir a .othir3 .box3
{
    position: absolute;
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background: #84f158;
    margin-top: 0rem;
    margin-left: 17px;
}



.other .othir a .othir3 .box3 img 
{
    position: absolute;
    width: 17px;
}





.other .othir  a .othir3 p
{
    position: absolute;
    font-size: 1em;
    color: #444;
    margin: 0;
    margin-left: 55px;
}




.other .othir a .othir4
{
    position: absolute;
    width: 100%;
    height: 55px;
    display: flex;
    align-items: center;
    background: #fff;
    margin-top: 23.5rem;
}



.other .othir a .othir4:hover 
{
    background: rgba(0,0,0,0.1);
    transition: 0.2s;
}



.other .othir a .othir4 .box4
{
    position: absolute;
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background: rgba(0,0,0,0.05);
    margin-top: 0rem;
    margin-left: 17px;
}



.other .othir a .othir4 .box4 img 
{
    position: absolute;
    width: 17px;
}





.other .othir  a .othir4 p
{
    position: absolute;
    font-size: 1em;
    color: #444;
    margin: 0;
    margin-left: 55px;
}







/********Diagram*******/


.diagram 
{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #000;
}



.diagram h1 
{
    position: absolute;
    font-size: 1.6em;
    color: #fff;
    padding: 15px;
    margin-top: -0.5rem;
}





.diagram p
{
    position: absolute;
    font-size: 1em;
    color: rgba(255,255,255,0.5);
    padding: 15px;
    margin-top: 2.5rem;
}





.diagram h3 
{
    position: absolute;
    font-size: 1em;
    color: orange;
    padding: 15px;
    margin-top: 10.5rem;
}



.diagram #myChart 
{
    position: absolute;
    margin-top: 15rem;
}




.diagram .dowii
{
    display: flex;
    justify-content: center;
    margin-top: 68rem;
}



.diagram .dowii h5 
{
    font-size: 0.9em;
    color: rgba(255,255,255,0.4);
}




/********Filter*********/


.filter 
{
    position: absolute;
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,0.03);
}



.filter .fillt 
{
    position: absolute;
    width: 100%;
    height: 600px;
    background: #fff;
}




.filter .fillt h2
{
    position: absolute;
    font-size: 1.5em;
    padding: 15px;
    margin-top: 0rem;
}




.filter .fillt p
{
    position: absolute;
    font-size: 1em;
    padding: 15px;
    color: #999;
    margin-top: 3rem;
}







.filter a .main1
{
    position: absolute;
    width: 100%;
    height: 55px;
    display: flex;
    align-items: center;
    background: #fff;
    margin-top: 8rem;
}



.filter a .main1:hover 
{
    background: rgba(0,0,0,0.1);
    transition: 0.2s;
}



.filter a .main1 .box1
{
    position: absolute;
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background: #1358a1;
    margin-top: 0rem;
    margin-left: 17px;
}



.filter a .main1 .box1 img 
{
    position: absolute;
    width: 17px;
}





.filter a .main1 p
{
    position: absolute;
    font-size: 1.1em;
    color: #444;
    margin: 0;
    margin-left: 65px;
}










.filter a .main2
{
    position: absolute;
    width: 100%;
    height: 55px;
    display: flex;
    align-items: center;
    background: #fff;
    margin-top: 13.5rem;
}



.filter a .main2:hover 
{
    background: rgba(0,0,0,0.1);
    transition: 0.2s;
}



.filter a .main2 .box2
{
    position: absolute;
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background: #74dd0f;
    margin-top: 0rem;
    margin-left: 17px;
}



.filter a .main2 .box2 img 
{
    position: absolute;
    width: 17px;
}





.filter a .main2 p
{
    position: absolute;
    font-size: 1.1em;
    color: #444;
    margin: 0;
    margin-left: 65px;
}









.filter a .main3
{
    position: absolute;
    width: 100%;
    height: 55px;
    display: flex;
    align-items: center;
    background: #fff;
    margin-top: 19rem;
}



.filter a .main3:hover 
{
    background: rgba(0,0,0,0.1);
    transition: 0.2s;
}



.filter a .main3 .box3
{
    position: absolute;
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background: #7a3cbb;
    margin-top: 0rem;
    margin-left: 17px;
}



.filter a .main3 .box3 img 
{
    position: absolute;
    width: 17px;
}





.filter a .main3 p
{
    position: absolute;
    font-size: 1.1em;
    color: #444;
    margin: 0;
    margin-left: 65px;
}









.filter a .main4
{
    position: absolute;
    width: 100%;
    height: 55px;
    display: flex;
    align-items: center;
    background: #fff;
    margin-top: 24.5rem;
}



.filter a .main4:hover 
{
    background: rgba(0,0,0,0.1);
    transition: 0.2s;
}



.filter a .main4 .box4
{
    position: absolute;
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background: #f00;
    margin-top: 0rem;
    margin-left: 17px;
}



.filter a .main4 .box4 img 
{
    position: absolute;
    width: 17px;
}





.filter a .main4 p
{
    position: absolute;
    font-size: 1.1em;
    color: #444;
    margin: 0;
    margin-left: 65px;
}









.filter a .main5
{
    position: absolute;
    width: 100%;
    height: 55px;
    display: flex;
    align-items: center;
    background: #fff;
    margin-top: 30rem;
}



.filter a .main5:hover 
{
    background: rgba(0,0,0,0.1);
    transition: 0.2s;
}



.filter a .main5 .box5
{
    position: absolute;
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background: #000;
    margin-top: 0rem;
    margin-left: 17px;
}



.filter a .main5 .box5 img 
{
    position: absolute;
    width: 17px;
}





.filter a .main5 p
{
    position: absolute;
    font-size: 1.1em;
    color: #444;
    margin: 0;
    margin-left: 65px;
}








.filter a .main6
{
    position: absolute;
    width: 100%;
    height: 55px;
    display: flex;
    align-items: center;
    background: #fff;
    margin-top: 35.5rem;
}



.filter a .main6:hover 
{
    background: rgba(0,0,0,0.1);
    transition: 0.2s;
}



.filter a .main6 .box6
{
    position: absolute;
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background: #fff;
    border: 0.7px solid #222;
    margin-top: 0rem;
    margin-left: 17px;
}



.filter a .main6 .box6 img 
{
    position: absolute;
    width: 17px;
}





.filter a .main6 p
{
    position: absolute;
    font-size: 1.1em;
    color: #444;
    margin: 0;
    margin-left: 65px;
}









.filter a .main7
{
    position: absolute;
    width: 100%;
    height: 55px;
    display: flex;
    align-items: center;
    background: #fff;
    margin-top: 41rem;
}



.filter a .main7:hover 
{
    background: rgba(0,0,0,0.1);
    transition: 0.2s;
}



.filter a .main7 .box7
{
    position: absolute;
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background: #fdda25;
    margin-top: 0rem;
    margin-left: 17px;
}



.filter a .main7 .box7 img 
{
    position: absolute;
    width: 17px;
}





.filter a .main7 p
{
    position: absolute;
    font-size: 1.1em;
    color: #444;
    margin: 0;
    margin-left: 65px;
}











.filter a .main8
{
    position: absolute;
    width: 100%;
    height: 55px;
    display: flex;
    align-items: center;
    background: #fff;
    margin-top: 46.5rem;
}



.filter a .main8:hover 
{
    background: rgba(0,0,0,0.1);
    transition: 0.2s;
}



.filter a .main8 .box8
{
    position: absolute;
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background: #0f97f2;
    margin-top: 0rem;
    margin-left: 17px;
}



.filter a .main8 .box8 img 
{
    position: absolute;
    width: 17px;
}





.filter a .main8 p
{
    position: absolute;
    font-size: 1.1em;
    color: #444;
    margin: 0;
    margin-left: 65px;
}








.filter a .main9
{
    position: absolute;
    width: 100%;
    height: 55px;
    display: flex;
    align-items: center;
    background: #fff;
    margin-top: 52rem;
}



.filter a .main9:hover 
{
    background: rgba(0,0,0,0.1);
    transition: 0.2s;
}



.filter a .main9 .box9
{
    position: absolute;
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background: rgba(0,0,0,0.08);
    margin-top: 0rem;
    margin-left: 17px;
}



.filter a .main9 .box9 img 
{
    position: absolute;
    width: 17px;
}





.filter a .main9 p
{
    position: absolute;
    font-size: 1.1em;
    color: #444;
    margin: 0;
    margin-left: 65px;
}











}